*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    text-decoration: none;
    color: rgb(99, 199, 161);
}

section.banner{
    background-color: rgb(230, 89, 117);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

main div{
    padding: 20px;
    justify-content: center;
    text-align: center;
}

main div img{
    width: auto;
    height: 200px;
}

footer{
    background-color: rgb(139, 232, 255);
    color: #ec89c6;
    text-align: center;
    padding: 10px;
}